# Import bazelrc presets
import ../../tools/preset.bazelrc

# project-specific settings
startup --windows_enable_symlinks
common:ci --lockfile_mode=off

# Keep the disk cache out of Bazel's own output base hierarchy.
common:ci --disk_cache=~/.cache/bazel/disk_cache
test:ci --test_env=XDG_CACHE_HOME
